<a
  href="/requisites?coin=BTC&address=bc1quvf249gmg5ww69amk23v0hkucq6arurjql5ptp"
  target="_blank"
  rel="noopener noreferrer"
>
  <svg
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet"
    class="w-6 h-6 text-gray-400"
  >
    <g
      transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
      fill="currentColor"
      stroke="none"
    >
      <path
        d="M1726 5104 c-357 -71 -615 -326 -708 -701 -29 -117 -31 -330 -5 -450
53 -248 205 -491 472 -758 253 -252 1040 -927 1103 -946 76 -22 90 -13 472
312 414 353 511 438 679 603 372 364 523 651 523 996 1 523 -352 926 -837 957
-191 12 -373 -40 -530 -152 -68 -48 -185 -168 -234 -238 l-32 -47 -60 80 c-67
89 -165 181 -249 235 -165 105 -399 148 -594 109z m329 -313 c171 -61 315
-220 408 -451 53 -130 84 -160 169 -160 64 0 105 29 134 98 67 153 82 183 131
259 148 228 376 325 617 263 109 -28 169 -63 256 -150 131 -130 193 -285 192
-480 0 -135 -20 -219 -82 -345 -117 -238 -302 -429 -948 -979 l-303 -258 -22
19 c-12 11 -128 109 -257 218 -362 307 -454 387 -608 539 -159 156 -234 243
-309 358 -182 278 -189 592 -21 844 86 129 221 218 378 248 56 11 206 -2 265
-23z"
      ></path>
      <path
        d="M1700 2153 c-168 -18 -354 -92 -498 -197 l-61 -45 -54 53 c-30 30
-77 66 -105 80 -103 52 -138 56 -511 56 -328 0 -347 -1 -387 -21 -31 -15 -48
-32 -63 -63 -21 -42 -21 -54 -21 -966 0 -903 0 -925 20 -965 13 -26 34 -49 59
-63 38 -21 47 -22 387 -22 255 0 364 4 405 14 66 15 160 65 205 108 l32 30
163 -40 c90 -23 216 -50 279 -61 253 -44 315 -46 1205 -46 789 0 856 1 930 18
222 51 434 175 571 334 91 105 778 1027 811 1088 142 264 -29 599 -331 646
-117 18 -253 -17 -345 -90 -20 -16 -138 -138 -261 -270 -123 -133 -226 -241
-229 -241 -3 0 -17 26 -31 57 -42 98 -154 194 -275 236 -18 7 -205 13 -470 16
-509 7 -479 1 -633 118 -118 89 -206 139 -313 177 -153 55 -323 76 -479 59z
m315 -318 c88 -24 191 -77 270 -139 101 -80 189 -131 280 -163 l80 -28 435 -5
c405 -5 437 -6 467 -24 38 -23 73 -83 73 -125 0 -51 -35 -108 -80 -131 -38
-19 -58 -20 -600 -20 -453 0 -567 -3 -593 -14 -125 -53 -117 -239 13 -277 23
-7 251 -9 670 -7 l635 3 63 27 c35 14 79 37 98 50 20 12 193 192 385 398 192
206 366 385 387 397 46 28 84 29 138 2 31 -15 48 -32 63 -63 25 -50 26 -75 7
-120 -8 -18 -182 -258 -388 -532 -421 -561 -461 -605 -612 -679 -170 -84 -116
-79 -971 -83 -962 -4 -1097 4 -1467 94 l-148 36 0 574 0 574 46 42 c144 133
283 205 449 232 55 8 239 -3 300 -19z m-1173 -57 c24 -14 48 -38 59 -60 18
-35 19 -68 19 -668 0 -612 -1 -632 -20 -670 -13 -26 -34 -47 -60 -60 -36 -18
-58 -20 -290 -20 l-250 0 0 750 0 750 251 0 c242 0 253 -1 291 -22z"
      ></path>
    </g>
  </svg>
</a>
